*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    .navbar {
        .navbar-brand {
                img {
                    height: 50px !important;
                    width: 50px !important;
                }
        }
    }
    .item{
        margin-right: 30px;
        text-decoration: none;
        a{
            color: black;
        }
    }
}
section{
    .carousel-control-prev{
        // display: none !important;
        top:300px !important;
        bottom:300px !important;
        width: 40px;
        left: 30px;
        height: 40px;
        opacity: 1;
        background-color: #17a2b8;
    }
    .carousel-control-next{
        top:300px !important;
        bottom:300px !important;
        width: 40px;
        height: 40px;
        right: 30px;
        opacity: 1;
        background-color: #17a2b8;
    }
    .san_pham_moi{
        margin-top: 50px;
        text-align: center;
        h1{
            margin-bottom: 25px;
        }
        .card{
            border: .5px solid black;
            border-color: black !important;
            .card-text{
                font-weight: 700 !important;
            }
        }
    }
    .san_pham_ban_chay{
        @extend .san_pham_moi
    }
    .crs{
        margin-top: 50px;
        background-image: url(../img/bg_caulong_home.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        position: relative;
        .crs__content{
            color: white;
            position: absolute;
            top: 200px;
            right: 50px;
            text-align: center;
            p{
                font-weight: 700;
            }
        }
    }
    .bg{
        background-color: #f6f6f6;
        height: 100px;
    }
    .crs__SPM{
        text-align: center;
        margin-top: 50px;
        background-image: url(../img/crs_sanphamhot.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        position: relative;
        .crs__SPM__content{
            color: white;
            // margin-top: 500px;
            position: absolute;
            left: 20px;
            top: 40px;
        }
    }
    .news{
        text-align: center;
        margin-top: 50px;
        .card{
            img{
                display: block;
                max-width: 350px !important;
                max-height: 230px !important;
                width: auto;
                height: auto;
            }
        }
    }
}
footer{
    margin-top: 40px;
    background-color: #f6f6f6;
    .ft{
        padding-top: 20px;
        .row{
            .col{
                ul{
                    li{
                        list-style: none;
                    }
                }
            }
            .col-4{
                padding: 20px;
                ul{
                    li{
                        list-style: none;
                    }
                }
            }
            .final{
                width: 100%;
                display: block;
                .logo_ft{
                    color: #4267b2;
                    font-size: 32px;
                }
                text-align: center;
                h6{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .input-group{
                    input{
                        max-width: 340px !important;
                    }
                }
                padding-right: 0;
            }
        }
    }
}
